body {
    background-image: url('Img1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h1 {
    color: rgb(47, 0, 255);
    text-align: center;
    font-family: 'Arial', sans-serif;
    margin-top: 20%;
}
p {
    color: rgb(16, 219, 60);
    text-align: center;
    font-family: 'Verdana', sans-serif;
    font-size: 20px;
}   